<ion-tabs padding>

  <ion-tab-bar slot="top">

    <ion-tab-button  mode="ios" tab="tab6"> <!--Profile-->
      <ion-icon class="tabs" style="color: #f53d3d" name="person-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="tab7">  <!--User Profile-->
        <ion-icon class="tabs" style="color: #f53d3d" name="flame-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button mode="ios" tab="tab8"> <!--feeds-->
      <ion-icon class="tabs" style="color: #f53d3d" name="receipt-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button  mode="ios" tab="tab9"> <!--chat-->
      <!-- <ion-icon style="color: #f53d3d" name="chatbubbles"></ion-icon> -->
      <ion-icon class="tabs" name="chatbubbles-outline" style="color: #f53d3d" ></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

