// $colors: (
//   primary:    #488aff,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222
// );

.tabs{
  font-weight: bold;
 
}


ion-tab-button{
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.2), 2px 2px 6px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  // margin: 10px 10px;
  // height: 50px;
  // width: 5px;
  
 color: #cecece;
  --background: #2A2A2A;
}

ion-tabs {
  margin-top:35px;
  
  font-size: 10px;
  // --background: #5c5c5c;
  // box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2), 2px 2px 6px rgba(0, 0, 0, 0.8);
 
  
}