* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.logo {
    height: 40px;
  }
  
  sw-card-wrapper {
    display: flex;
  }
  
  .card {
    box-shadow: 2px 10px 2px #e6e6e6;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    position: absolute;
    background-color: white;
  }

  .card img{
    height: 450px;
    min-width: 100%;
    max-width: none;
    display:flexbox;
  }


  .button_box {
    width: 90%;
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 120px;
    justify-content: center;
  }
  .small_button {
    font-size: 20px;
    --border-radius: 50%;
    --border-width: 8px;
    --border-color: #f3f3f3;
    --padding-start: 8px;
    --padding-end: 8px;
    --background-activated: #f3f3f3;
    
  }
  .large_button {
    font-size: 30px;
    --border-radius: 50%;
    --border-width: 8px;
    --border-color: #f3f3f3;
    --padding-start: 15px;
    --padding-end: 15px;
    margin-right: -10px;
    margin-left: -10px;
    --background-activated: #f3f3f3;
  }
  .space {
    width: 12px;
  }

  ion-content {
    --background: rgb(255, 255, 255);
    font-family: sans-serif;
    --padding-top: 50px;
    height: 400;
    width: 400;
  
    .container {
        height: 400px;
        width: 40px;
    }
    ion-card {
      //background: #e5f3ff !important;
      margin-top: 250px;
      height: 330px;
      width: 312px;
      margin: auto;
      position: absolute;
      border:solid 1px #050505;
      background-color: #ffffff;
      color: black;
      left: 0;
      right: 0;
      border-radius: 24px;
      box-shadow: -1px 1px 75px 39px rgb(248, 248, 248) inset;
      -webkit-box-shadow: -1px 1px 75px 39px rgb(255, 255, 255) inset;
      -moz-box-shadow: -1px 1px 75px 39px rgb(248, 248, 248) inset;
  
      ion-card-content{
        div.inner-wrap 
        {
          display: flex;
          flex-direction: column ;
          // justify-content: center;
          height: 300px;
        }
       
      }
    }
  }
