<!-- <ion-header>
  <ion-toolbar>
    <ion-title>splash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

 <ion-button style="height:max-content;margin-top: 50px;" expand="block" fill="clear" routerLink='/pages/login'>
  <img src="./../../../assets/img/splash.png">
</ion-button>
  
  <ion-progress-bar value="0.6" [value]="progress" color="danger" class="bar" type="indeterminate"></ion-progress-bar>

  <!-- <div id="loading-wrapper">   
      <div id="loading-text">
      
      <ion-button position="floating" class="r-btn" color="danger">Let's Start
      </ion-button>
    </div>
  </div> -->

  <!-- <img class="img1" src="./../../assets/img/app-with-heart-icon-5.jpg" /> -->
  
</ion-content>
