*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: normal;
    color: white;
    // background-color:#1e2833;
    // background-color: ;
}


/*paragraph style*/
.p-sty
{
    border: none;
    padding-top: 190px;
    padding-left: 40px;
}

.lbl-rem{
    font-family: 'Times New Roman', Times, serif;
    // font-size: 20px;
    margin-left:0px;
}

/*forget password style*/
.f-pass
{
    // font-size:14px;
    color: red;
}

ion-content{
    --padding-top: 100px;
    }

.for-pass
{
 margin-left: 60px;
}

ion-button{
    border-radius: 50px;
    }

    ion-item { text-decoration: none; }
    
    
.padding-row 
{
    margin-top: 20px;
}

.row-style
{
    text-align: center;
    border: 2px solid black;
    border-radius: 22px;
    border-color: #488aff;
    width: 300px;
    text-align: center;
    margin-left: 20px;
}

ion-button{
    border-radius: 100px;
   width: 150px;
  
//    margin-left: 110px;
    .signin-sty
    {
        text-align: center;
        padding: 5px;
        // width:auto;
        // margin-left: 17px;
    }
}

.lbl-reg{
    color: #0000EE;
    // font-size: 19px;
    border-radius: 50%;
    width:150px;
    text-align: center;
    border: 0 !important;
    --border-width: 0;
    background-color: white;
    // text-transform:unset;

}
.link-sty
{
    // font-size: 15px;
    font-weight: bold;
}

.forget-sty
{
    // font-size: 15px;
    font-weight: bold;
}

.label-line{
    // margin-top:20px;
    text-align: center;
    color: black;
}

.fb-sty
{
    color:#3b5998; /*facebook logo color*/
}

.google-sty
{
    color:#BB001B; /*google logo color*/
}

.linked-sty
{
    color: #0e76a8;
}

.tw-sty
{
    color: #00acee;
   
}

.style-grid
{
    text-align: center;
}



/*for iphone 6/7/8 plus*/
@media(max-width:414px) and (max-height:736px){
    ion-card{
         top: 0;
         height: auto;
         width: auto;
       }

       .btn_wrap{
        margin-left: -1%;
    }
    .card{
        top: 15%;
        left: 15%;
    }

     }
     
/*for iphone X*/
@media(max-width:375px) and (max-height:812px){
    ion-card{
        height: auto;
        width: 350px;
        padding: 0%;
       }
       .label-line
       {
           padding-left: 25px;
          
       }
       .btn_wrap{
           margin-left: -15%;
       }
       .card{
         left: -10%;
       }
    
     }

/*for iphone 6/7/8*/
@media(max-width:375px) and (max-height:667px){
 ion-card {

             top: 0;
             left: 0;
             height: auto;
             width: 400;
             padding: 0%;
           }
         
    .btn_wrap
    {
    margin-left: -2%;
    }

    .card{
        top: auto;
    }

}


/*for iphone 5/SE*/
@media(max-width:320px) and (max-height:568px){
    ion-card {
   
                top: 0;
                left: 0;
                height: auto;
                width: 400;
                padding: 0%;
              }
            
       .btn_wrap{
       margin-left:-2%;
   }

   .card{
       top: 10%;
       height: 430px;
       width: 290px;
       left:6%;
   }
    }

/*for ipad */
@media(max-width:768px) and (max-height:1024px){
    ion-card {
   
                top: 0;
                left: 0;
                height: auto;
                width: 400;
                padding: 0%;
              }
            
            .label-line
            {
                padding-left: 25px;
            }

            .btn_wrap{
                left: 15%;
            }
        }

/*for Pixel 2*/
@media(max-width:411px) and (max-height:733px){
    ion-card {
   
                top: 0;
                left: 0;
                height: auto;
                width: 400;
                padding: 0%;
              }
            
   .btn_wrap{
       left: 15%;
   }
}
     
/*for Pixel 2 XL*/
@media(max-width:411px) and (max-height:823px){
    ion-card {
   
                top: 0;
                left: 0;
                height: auto;
                width: 400;
                padding: 0%;
              }
            
   .btn_wrap{
       left: 15%;
   }

   .card{
       top: 20%;
       left: 15%;
   }
}
  
.btn:focus {
    outline:none !important;
  }
  
  .neumorphic-btn {
    // font-size: 20px;
    border: none;
    padding: 10px 40px;
    border-radius: 40px;
    color: #000000;
    background-color: var(--back-color);
    /*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
                -2px -2px 4px 2px rgba(255, 255, 255, 1), 
                inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
                inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, .2),
                inset 7px 7px 15px rgba(55, 84, 170, 0),
                inset -7px -7px 20px rgba(255, 255, 255, 0),
                0px 0px 4px rgba(255, 255, 255, 0) !important;
    transition: box-shadow 9.25s ease !important;
  }
  
  .neumorphic-btn:active {  
    box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
                -7px -7px 20px rgba(255, 255, 255, 1),
                inset 0px 0px 4px rgba(255, 255, 255, 0),
                inset 7px 7px 15px rgba(55, 84, 170, .15),
                inset -7px -7px 20px rgba(255, 255, 255, 1),
                0px 0px 4px rgba(15, 15, 15, 0.2) !important;
  }
  

  
i {
    opacity: 0;
    // font-size: 28px;
    color: #1F1E1E;
    // will-change: transform;
    -webkit-transform: scale(.1);
            transform: scale(.1);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .btn_wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 170px;
    // left: 25%;
    height: 50px;
    background-color: #ffffff;
    border-radius: 80px;
    // padding: 0 18px;
    will-change: transform;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .btn_wrap:hover {
    /* transition-delay: .4s; */
    -webkit-transform: scale(1.1);
            transform: scale(1.1)
  }
  
  
  .span1 {
    position: fixed;
    z-index: 99;
    width: 300px;
    height: 50px;
    border-radius: 80px;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #f53d3d;
    background-color: #ffffff;
    padding: 0 18px;
    -webkit-transition: all 1.2s ease;
    transition: all 2.2s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 64px;
    border-radius: 80px;
  }
  
  .container1 i:nth-of-type(1) {
            -webkit-transition-delay: 1.1s;
                    transition-delay: 1.1s;
  }
  
  .container1 i:nth-of-type(2) {
            -webkit-transition-delay: .9s;
                    transition-delay: .9s;
  }
  
  .container1 i:nth-of-type(3) {
            -webkit-transition-delay: .7s;
                    transition-delay: .7s;
  }
  
  .container1 i:nth-of-type(4) {
            -webkit-transition-delay: .4s;
                    transition-delay: .4s;
  }
  
  .btn_wrap:hover .span1 {
    -webkit-transition-delay: .25s;
            transition-delay: .25s;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px)
  }
  
  .btn_wrap:hover i {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  
  
  .dr {
  position: absolute;
  bottom: 16px; 
  right: 16px;
  width:100px;
  }

//   ion-content {
//     --background: linear-gradient(#919191, #ffffff);
//   }

/* Social Icons */
#social_side_links {
	position: fixed;
  top: 70px;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links li a {display: block;}

#social_side_links li a img {
	display: block;
	max-width:40px;
  padding: 10px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}

#social_side_links li a:hover img {
background: rgba(0, 0, 0, .2);
 
    &:hover{
    padding-left: 20px;
    width:65px;
    }}

/*-----------------------------------------------------------------------------------------------------*/
    // @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   font-family: 'Fredoka One', cursive;
  color: #f53d3d;
}

*::selection{
  background: #f53d3d;
  color: #FFF;
}

.card {
  background-color: #fff;
  width: auto;
  height: auto;
  position: absolute;
//   left: 10%;
//   top: 5%;
//   z-index: 100;
  border-radius: 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25),
    inset -5px -5px 20px rgba(0,0,0,.25),
    inset 5px 5px 20px rgba(255,255,255,.25);
  animation: right .75s ease-in;
}

.content {
  display : flex;
  flex-direction: column;
  padding: 2em;
  align-items: flex-center;
  height:max-content;
  justify-items: space-between;
}

.user, .pass {
  position: relative;
  
}

.para{
    position:relative ;
    text-align: center;
}

.content i {
  position: absolute;
//   top: 50%;
//   left: 20px;
  transform: translateY(-50%);
  color: #f53d3d;
//   font-size: 20px;
}

ion-input[type="text"], ion-input[type="password"] {
//   font-size: 1.125rem;
  margin: .75em 0;
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: .8em 1.5em .8em 2.75em;
  color: #f53d3d;
  box-shadow: 1px 3px 10px #00000020,
    inset -1px -3px 10px #00000020,
    inset 1px 3px 10px #ffffff20;
}

ion-input[type="text"]::placeholder,
ion-input[type="password"]::placeholder{
  color: #0e4c6690;
//   font-size: 1rem;
  margin-left: 1em;
}

ion-input[type="text"]:focus, ion-input[type="password"]:focus {
  outline: none;
}


.else {
  display: flex;
  align-items: center;
  width: 85%;
  margin: .5em auto;
}

.else span {
  margin-left: auto;
}

.else span,
.else label {
//   font-size: .75rem;
  text-align: right;
  opacity: .65;
  cursor: pointer;
  transition: 250ms;
}

.else label {
  margin-left: .5em;
}

span:hover,
label:hover{
  opacity: 100%;
  text-decoration: underline;
}

span:active,
label:active{
  transform: scale(.99);
}



input[type="submit"] {
//   background-color: #f53d3d;
  border: none;
  color: #f53d3d;
  padding: 1.1em 2.5em;
  border-radius: 100px;
  margin: 1.2em auto;
  cursor: pointer;
  box-shadow: 2px 3px 10px rgba(165, 163, 163, 0.25),
  inset -2px -3px 10px rgba(75, 73, 73, 0.35),
  inset 2px 3px 10px rgba(255,255,255,.5);
  letter-spacing: 1.25px;
}

input[type="submit"]:hover {
  background: #f53d3d;
}

input[type="submit"]:active {
    box-shadow: 2px 3px 10px rgba(0,0,0,.25),
  inset -2px -3px 10px rgba(255,255,255,.35),
  inset 2px 3px 10px rgba(0,0,0,.25);
}

input[type="submit"]:focus {
  outline: none;
}

@keyframes right{
  0% {
    transform: translateX(700%)
  }
  100% {
    transform: translateX(0)
  }
}

@keyframes left{
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0)
  }
}
