<ion-content>

  <div class="card">

    <div class="content">

      <div class="user">
        <ion-input type="text" placeholder="Username">
          <ion-icon style="float: left;color: black;font-size:
            large;margin-left: 10px;" name="person-outline"></ion-icon>
        </ion-input>
      </div>

      <div class="pass">
        <ion-input type="password" placeholder="Password">
          <ion-icon style="float: left;color: black;font-size:
            large;margin-left: 10px;" name="lock-closed-outline"></ion-icon>
        </ion-input>
      </div>

      <div class="else">
        <input id="remember" type="checkbox">
        <label for="remember">Remember me</label>
        <span>Forgot password?</span>
      </div>

      <input type="submit" value="Login" routerLink='/tabs/tab7'>
      <p class="para">
        <label>Dont have Account! </label>
        <br>
        <button class="lbl-reg" routerLink='../register' fill="outline">
          <p><u>Register Here</u></p>
        </button>
        <br><br>
        <ion-label>OR</ion-label>
      </p>

      <div class="para2">

        <div class="btn_wrap">
          <ion-label class="span1">Click Me!</ion-label>
          <div class="container1">
    
            <a href="https://facebook.com" target="_blank">
              <ion-icon class="fb-sty" name="logo-facebook"></ion-icon>
            </a>
    
            <a href="https://gmail.com" target="_blank">
              <ion-icon class="google-sty" name="logo-google"></ion-icon>
            </a>
    
            <a href="https://twitter.com" target="_blank">
              <ion-icon class="tw-sty" name="logo-twitter"></ion-icon>
            </a>
    
            <a href="https://linkedin.com" target="_blank">
              <ion-icon class="linked-sty" name="logo-linkedin"></ion-icon>
            </a>
    
          </div>
    
        </div>

      </div>
    </div>

    


  </div>

</ion-content>