<ion-content class="style-grid">

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-input class="row-style" type="text" placeholder="Username">
            <ion-icon style="float: left;color: black;font-size:
              large;margin-left: 10px;" name="person-outline"></ion-icon>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-input class="row-style" type="password" placeholder="Password">
            <ion-icon style="float: left;color: black;font-size:
              large;margin-left: 10px;" name="lock-closed-outline"></ion-icon>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label class="lbl-rem" >Remember Me</ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
         <a routerLink='../account-recovery'>Forget Password?</a>
        
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <!-- <ion-button expand="expand" shape="round" (click)="tryLogin()" routerLink='/tabs/tab7'
          fill="outline">Login</ion-button> -->

          <div class="container cont">
            <button type="button" routerLink='/tabs/tab7' class="neumorphic-btn">Login</button>
            </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Dont have Account! </ion-label>
        <br>
        <button class="lbl-reg" routerLink='../register' fill="outline">
        <p >Register Here</p>
      </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>OR</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="btn_wrap">
          <ion-label class="span">Continue with</ion-label>
          <div class="container1">
            <a href="https://facebook.com" target="_blank"><ion-icon class="fb-sty" name="logo-facebook"></ion-icon></a>
            <a href="https://gmail.com" target="_blank"><ion-icon class="google-sty" name="logo-google"></ion-icon></a>
            <a href="https://twitter.com" target="_blank"><ion-icon class="tw-sty" name="logo-twitter"></ion-icon></a>
            <a href="https://linkedin.com" target="_blank"><ion-icon class="linked-sty" name="logo-linkedin"></ion-icon></a>
          </div>
      </div>
      
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>