.next-arrow{
  box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  background: #2A2A2A;
  border-radius: 99px;
  border: 0 !important;
 border-color: #2A2A2A;
  --border-width: 0;
  margin-top: 15px;
  --border-color: #2A2A2A;
  color: #cecece;
  width: 50px;
  height: 50px;
  // margin-top: -6px;
  // padding: 5px;
  --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
  --background-activated:#242323;
  --background-activated:#242323;
  ion-icon {
   font-size: 30px;
  }
}

*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

ion-content{
  --background: #cecece;
}

ion-item{
    color: #cecece;
    --background: #2A2A2A;
    ion-label{
      color: #cecece;
    }
}

ion-card{
  color: #cecece;
  box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
  --background: #2A2A2A;
  
}

.icon-arrow{
  font-size: ;
}
  .card-avatar{
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 16px 0 24px;
    position: relative;
    padding-top: 60px;
    border: 0 !important;
    border-bottom: 0 !important;
    }

    .img-wrapper 
    {
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-50%);
      img {
        border-radius: 40px;
        width: 80px;
        height: 80px;
      }
  
      ion-button {
        --border-width: 1px;
        // --border-color: var(--ion-color-light-shade);
        --border-style: solid;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
  
        --border-radius: 50%;
        height: 26px;
        width: 26px;
  
        position: absolute;
        right: -10px;
        bottom: -5px;
  
        ion-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
    