<ion-content>

  <!-- <ion-item lines="none">
              <span>
                <ion-avatar class="avatar">
                  <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
                </ion-avatar>
              </span>
              <ion-input type="file"></ion-input>
       
      </ion-item> -->
  <!-- <div class="card-avatar">
    <div class="img-wrapper">
      <img src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
      <ion-button color="light" type="file">
        <ion-icon slot="icon-only" type="file" name="camera-outline"
          color="dark">
        </ion-icon>
      </ion-button>
    </div>

  </div> -->
  <div class="card-avatar border rounded-lg">
    <div class="img-wrapper">
      <img id="image" class="object-cover w-full h-32"
        src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
    
        <div class="absolute" onClick="document.getElementById('fileInput').click()">
        <button type="button" class="btn">
          <ion-icon slot="icon-only" type="file" name="camera-outline"
            color="dark">
          </ion-icon>
        </button>
    
      </div>

      <input name="photo" id="fileInput" accept="image/*" class="hidden photo"
        type="file" onChange="let file= this.files[0];
        var reader= new FileReader();
        reader.onload= function (e) {
        document.getElementById('image').src= e.target.result;
        document.getElementById('image2').src= e.target.result;
        };
        reader.readAsDataURL(file);">

    </div>
  </div>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contact No.</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <!-- <ion-radio-group value="gender">
          <ion-list-header>
            <ion-label class="gen">Gender</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label>Female</ion-label>
            <ion-radio slot="end" color="light" value="female"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Male</ion-label>
            <ion-radio slot="end" color="light" value="male"></ion-radio>
          </ion-item>
        </ion-radio-group> -->
    <div class="container">Gender : &nbsp;&nbsp;
      <ion-item lines="none">

        <input type='radio' id='male' name='radio'>
        <label for='male'>Male</label>
        <div class="space"></div>
        <input type='radio' id='female' name='radio'>
        <label for='female'>Female</label>

      </ion-item>
    </div>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">Birthdate</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">Password
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Confirm Password
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-card>

  <div class="ion-text-end">
    <!-- <ion-button slot="end" routerLink='../login' class="next-arrow" shape="round" (click)="goToRegister()" fill="outline">
        <ion-icon class="icon-arrow" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button> -->
    <ion-fab-button slot="end" routerLink='../login' class="next-arrow"
      shape="round" (click)="goToRegister()" fill="outline">
      <ion-icon class="icon-arrow" name="arrow-forward-circle-outline"></ion-icon>
    </ion-fab-button>

  </div>

</ion-content>