<ion-content>

  <div class="card-avatar border rounded-lg">
    <div class="img-wrapper">
      <img id="image" class="object-cover w-full h-32"
        src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" />
      <div class="absolute"
        onClick="document.getElementById('fileInput').click()">
        <button type="button" class="btn">
          <ion-icon slot="icon-only" type="file" name="camera-outline"
            color="dark">
          </ion-icon>
        </button>
      </div>
      <input name="photo" id="fileInput" accept="image/*" class="hidden photo"
        type="file" onChange="let file= this.files[0];
        var reader= new FileReader();
        reader.onload= function (e) {
        document.getElementById('image').src= e.target.result;
        document.getElementById('image2').src= e.target.result;
        };
        reader.readAsDataURL(file);" hidden>
    </div>
  </div>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Contact No.</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <p>
      <ion-row>
        <ion-col size="3">
          <ion-label>Gender : &nbsp;&nbsp;</ion-label>
        </ion-col>
        <div class="custom-radios">
          <ion-col size="1">
            <div>
              <input type="radio" id="color-1" name="color" value="color-1">
              <label for="color-1">Male
                <span>
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                    alt="Checked Icon" />
                </span>
              </label>
            </div>
          </ion-col>

          <ion-col>
            <div>
              <input type="radio" id="color-2" name="color" value="color-2">
              <label for="color-2">Female
                <span>
                  <img
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg"
                    alt="Checked Icon" />
                </span>
              </label>
            </div>
          </ion-col>
        </div>
      </ion-row>
    </p>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">Birthdate</ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>

  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label position="floating">Password
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="floating">Confirm Password
      </ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-card>

  <div class="ion-text-center">
    <!-- <ion-button slot="end" routerLink='../login' class="next-arrow" shape="round" (click)="goToRegister()" fill="outline">
        <ion-icon class="icon-arrow" name="arrow-forward-circle-outline"></ion-icon>
      </ion-button> -->
    <ion-button routerLink='../login' shape="round" (click)="goToRegister()"
      fill="outline">Register
      <!-- <ion-icon class="icon-arrow" name="arrow-forward-circle-outline"></ion-icon> -->
    </ion-button>

  </div>

</ion-content>