// .next-arrow{
//   box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
//   background: #2A2A2A;
//   border-radius: 99px;
//   border: 0 !important;
 
//   --border-width: 0;
  
//   --border-color: #2A2A2A;
//   color: #cecece;
//  width: 50px;
//  height: 50px;
 
//   --background-activated:#242323;
 
//   ion-icon {
//    font-size: 35px;
//   }
// }

ion-button{
  box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  background: #2A2A2A;
  border-radius: 50px;
  border: 0 !important;
  color: #cecece;
  --border-color: #2A2A2A;
  // margin-top: -6px;
  text-align: center;
  // margin-left: 8px;
  // padding: 10px;
  --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
  
  --background-activated:#242323;
}

// @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}

ion-content{
  --background: #2A2A2A;
  // --background: #2A2A2A;
}

ion-item{
    color: #cecece;
    --background: #2A2A2A;
    ion-label{
      color: #cecece;
    }
}

ion-card{
  color: #cecece;
  box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
  --background: #2A2A2A;
  
}

  .card-avatar{
    // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    // overflow: visible;

text-align: center;
    margin: 16px 0 24px;
    position: relative;
    padding-top: 80px;
    border: 0 !important;
    border-bottom: 0 !important;
    }

    .img-wrapper 
    {
      position: absolute;
      left: 50%;
      top: -10px;
      transform: translateX(-50%);
      img {
        border-radius: 40px;
        width: 80px;
        height: 80px;
      }
  
      ion-button {
        --border-width: 1px;
        // --border-color: var(--ion-color-light-shade);
        --border-style: solid;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
        box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
        --border-radius: 50%;
        height: 26px;
        width: 26px;
  
        position: absolute;
        right: -10px;
        bottom: -5px;
  
        ion-icon {
          width: 14px;
          height: 14px;
        }
      }
    }
    
    .gen{
      color: #cecece;
      float: left;
    }

    .btn{
      box-shadow:  -2px -2px 6px rgba(78, 77, 77, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
        background: #cecece;
        border-radius: 99px;
        border: 0 !important;
       
        --border-width: 0;
        
        --border-color: #2A2A2A;
        color: #2A2A2A;
       width: 30px;
       height: 30px;
       margin-top: -300px;
       margin-left: 30px;
        --background-activated:#242323;
       
        ion-icon {
         font-size: 20px;
        }
      
    }

    /* --------------------------------------gender------------------------ */

    .container {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      justify-content: left;
    text-align: left;
    }

    label{
      user-select: none;
    }
    input[type="radio"] {
      display: none;
    }
    
    input[type="radio"] + label {
      // z-index: 10;
      margin: 0 10px 10px 0;
      position: relative;
      color: #cecece;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
      font-weight: bold;
      background-color: #2A2A2A;
      border: 2px solid #2A2A2A;
      cursor: pointer;
      transition: all 200ms ease;
    }
    
    input[type="radio"]:checked + label {
      color: #585a5c;
      background-color: #2A2A2A;
    }
    
    input[type="radio"] + label {
      padding: 5px 20px;
      border-radius: 10px;
    }
    
    .space{
      width: 10px;
    }