<ion-content padding>

  <div class="load" *ngIf="showImage">
    <ion-icon name="heart-outline" class="icon" color="light"></ion-icon>
  </div>

  <sw-card-wrapper #cardWrapper>
    <div class="container">
      <ion-card class=" card" *ngFor="let question of questions; let index=index" swSwipeable [width]="350"
        [height]="370" [orientation]="'y'" [class.visible]="question.visible"
        [class.hidden]="!question.visible">
        <img [src]="question.image" [alt]="question.name" style="height: 300px;width: 300px;">
        <h3>{{question.name}} ,{{question.age}} <ion-icon color="success" name="checkmark-circle"></ion-icon></h3>
       
      </ion-card>
    </div>
  </sw-card-wrapper>

  <!-- <div class="button_box">
   
    
     <ion-button  mode="ios" class="small_button" shape="round" fill="outline"> 
        <ion-icon name="refresh-outline" style="color: #f53d3d;"></ion-icon>
      </ion-button>

    <div class="space"></div>

    <ion-button (click)="onDisLike()" class="small_button" mode="ios" shape="round" fill="outline">
      <ion-icon name="heart-dislike-outline" style="color: #f53d3d;"></ion-icon>
    </ion-button>

    <div class="space"></div>

    <ion-button  (click)="onLike()" class="small_button" mode="ios" shape="round" fill="outline">
      <ion-icon name="heart-sharp" style="color: #f53d3d;"></ion-icon>
    </ion-button>
   
    <div class="space"></div>

    <ion-button  mode="ios" class="small_button" shape="round" fill="outline">
      <ion-icon name="square-outline" style="color: #f53d3d;"></ion-icon>
    </ion-button>

    <div class="space"></div>

      <ion-button mode="ios"  class="small_button" shape="round" fill="outline">
        <ion-icon style="color: #f53d3d;" name="star-outline"></ion-icon>
      </ion-button>
    
  </div> -->

  <div class="multi-button button_box">
  <ion-row>
    <ion-col>
      <ion-fab-button >
        <ion-icon name="refresh-outline" color="light"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button class="heart-dis" (click)="onDisLike()">
        <ion-icon name="heart-dislike-outline" ></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button class="heart-like" (click)="onLike()">
        <ion-icon name="heart-sharp"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button class="follow" >
        <ion-icon name="square-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>

    <ion-col>
      <ion-fab-button>
        <ion-icon name="star-outline"></ion-icon>
      </ion-fab-button>
    </ion-col>

  </ion-row>
</div>

  <!-- <div class="multi-button button_box">
  
    <button><ion-icon name="refresh-outline" style="color: #f53d3d;"></ion-icon></button>
    <button (click)="onDisLike()"><ion-icon name="heart-dislike-outline" style="color: #f53d3d;"></ion-icon></button>
    <button (click)="onLike()"> <ion-icon name="heart-sharp" style="color: #f53d3d;"></ion-icon></button>
    <button><ion-icon name="square-outline" style="color: #f53d3d;"></ion-icon></button>
    <button><ion-icon style="color: #f53d3d;" name="star-outline"></ion-icon></button>
</div> -->


</ion-content>