<ion-content padding>

  <!-- <div class="rhombus"  id="hideme">
    <div class="circle1"></div>
    <div class="circle2"></div>
  </div> -->

  <div class="Parent-loading" id="hideme">

    <div class="loding-animation-holder">
        <div class="loading-animator"></div>
        <div class="loading-animator"></div>
        <div class="loading-animator"></div>
        <div class="loading-animator"></div>
        <div class="middle-circle"></div>
    </div>
 
</div>
 

  <sw-card-wrapper #cardWrapper>
    <div class="container" id="container">
      <ion-card class="card" *ngFor="let question of questions; let index=index"
        swSwipeable [width]="300"
        [height]="300" [orientation]="'x'" [class.visible]="question.visible"
        [class.hidden]="!question.visible">
        <img [src]="question.image" [alt]="question.name" style="height:
          250px;width: 250px;">
        <h3>{{question.name}} ,{{question.age}} <ion-icon color="success"
            name="checkmark-circle"></ion-icon></h3>

      </ion-card>
    </div>
  </sw-card-wrapper>
  
   <div class="button_box ion-text-center">
       
     <ion-fab-button  mode="ios" shape="round" > 
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-fab-button>

    <div class="space"></div>

    <ion-fab-button (click)="onDisLike()"  mode="ios" shape="round" >
      <ion-icon name="heart-dislike-outline"></ion-icon>
    </ion-fab-button>

    <div class="space"></div>

    <ion-fab-button  (click)="onLike()" mode="ios" shape="round" icon-only>
      <ion-icon name="heart-sharp"></ion-icon>
    </ion-fab-button>
   
    <div class="space"></div>

    <ion-fab-button  mode="ios"  shape="round">
      <ion-icon name="square-outline" ></ion-icon>
    </ion-fab-button>

    <div class="space"></div>

      <ion-fab-button mode="ios"  shape="round">
        <ion-icon name="star-outline"></ion-icon>
      </ion-fab-button>
  
  </div> 
  
  <!-- <div class="multi-button button_box ion-text-center" id="bx">
    <ion-row>
      <ion-col>
        <ion-fab-button>
          <ion-icon name="refresh"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button class="heart-dis" (click)="onDisLike()">
          <ion-icon name="heart-dislike"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button class="heart-like" (click)="onLike()">
          <ion-icon name="heart-sharp"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button class="follow">
          <ion-icon name="square"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button>
          <ion-icon name="star"></ion-icon>
        </ion-fab-button>
      </ion-col>

    </ion-row>
  </div> -->

</ion-content>