* {
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

//color : #c4b422e3;

.logo {
    height: 30px;
  }
  
  sw-card-wrapper {
    
    display: flex;
  }
  
  .yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #4CAF50;
    opacity: 0;
  }
  
  .no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #F44336;
    opacity: 0;
  }
  
  // .card {
  //   box-shadow: 2px 10px 2px #e6e6e6;
  //   border-radius: 10px;
  //   margin-bottom: 30px;
  //   overflow: hidden;
  //   position: absolute;
  //   background-color: white;
  // }

  .card img{
    height: 450px;
    min-width: 100%;
    max-width: none;
    display:flexbox;
  }

ion-card-subtitle {
    color: white;
}

ion-card-title {
    color: white;
}

ion-card-content{
    padding: 0;
}

  .button_box {
    // width: 90%;
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: -20px;
    justify-content: center;
  }

  .space 
  {
    width: 17px;
  }

  ion-content {
    font-family: sans-serif;
    --padding-top: 50px;
    height: 400;
    --background: #cecece;
    color: white;
    width: 400;
  
    .container {
        height: 400px;
        width: 40px;
    }

    ion-card {
      margin-top: 150px;
      box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
      position: absolute;
      margin: auto;
      background: #cecece;
      border:solid 1px #050505;
      color: black;
      left: 0;
      right: 0;
      border-radius: 24px;
      -moz-box-shadow: -1px 1px 75px 39px rgb(54, 53, 53);
      ion-card-content{
        div.inner-wrap 
        {
          display: flex;
          flex-direction: column ;
          height: 300px;
        }
      }
    }
  }
  
ion-fab-button{
    
  box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  background: #2A2A2A;
  border-radius: 50px;
  margin-top: -6px;
  border: 0 !important;
  --background-activated:#2A2A2A;
 border-color: #2A2A2A;
  // padding: 5px;
  --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
  ion-icon{
    border: 0 !important;
    border-radius: 50px;
    // color: #ff2d2d;
  }
  --background-activated:#242323;
}


#container ,#bx{
  display: none;
}
/*-------------heart loading----------------------*/

.rhombus {
  margin: 40px 0 0 60px;
  /*background: #fcfcfc;*/
  margin: auto;
  margin-top: 200px;
  border-radius: 10px;
  height: 75px;
  width: 75px;
  margin-bottom: 10px;
  float: center;
  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
  position: relative;
  
}

.rhombus:before {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 40px;
  width: 40px;
  z-index: 0;
  margin-top: 15px;
  margin-left: 15px;
  transform: rotate(45deg);
  box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
}

.rhombus .circle1 {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 40px;
  width: 40px;
  z-index: 1;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: change1;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

.rhombus .circle2 {
  content: "";
  position: absolute;
  background: #EA4C89;
  height: 40px;
  width: 40px;
  z-index: 1;
  margin-left: 30px;
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: change2;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

@keyframes pump {
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.1);
  }
}

@keyframes change1 {
  0%,
  25% {
      margin-top: 0px;
      margin-left: 0px;
  }
  50%,
  75% {
      margin-top: 30px;
      margin-left: 30px;
  }
}

@keyframes change2 {
  25%,
  50% {
      margin-top: 30px;
      margin-left: 0px;
  }
  75%,
  100% {
      margin-top: 0px;
      margin-left: 30px;
  }
}

/*---------------------------loading effects----------------------------*/

.Parent-loading{
  display:block;
  width: 100%; height:100%;
  position: absolute;
  top:0px; left:0px;
  z-index: 100;
  background: #cecece;
  opacity: 1;
  display: flex;
  justify-content:center;
  align-items: center;
  -webkit-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
  -moz-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
  -ms-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
  -o-transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
  transition: opacity 1s cubic-bezier(.83,.01,.75,.71);
}

.loding-animation-holder{
  width: 100px; height:100px;
  transform:rotate(45deg);
  position: relative;
}

.loading-animator{
  width: 50%; height:50%;
  float:left;
  border-radius: 50%;
  background: #2A2A2A;
  transform:rotate(0deg);
  position:relative;
  top:0px; left:0px;
  bottom:0px; right:0px;
  opacity: 1;
}

.loading-animator:nth-child(1){
  transform-origin: bottom right;
  animation:loading 3s cubic-bezier(.46,-0.1,.2,1.5) infinite;
}

.loading-animator:nth-child(2){
  transform-origin: bottom left;
  animation:loading 3s 0.3s cubic-bezier(.46,-0.1,.2,1.5) infinite;
}

.loading-animator:nth-child(4){
  transform-origin: top left;
  animation:loading 3s 0.4s cubic-bezier(.46,-0.1,.2,1.5) infinite;
}

.loading-animator:nth-child(3){
  transform-origin: top right;
  animation:loading 3s 0.5s cubic-bezier(.46,-0.1,.2,1.5) infinite;
}

@keyframes loading {
  0%{
      transform:rotate(0deg);
      opacity: 1;
  }
  25%{
      transform:rotate(90deg);
      opacity: 0;
  }
  35%{
      transform:rotate(-90deg);
      opacity:0;
  }
  65%{
      transform:rotate(0deg);
      opacity: 1;
  }
}

.middle-circle{
  width: 5px; height: 5px;
  position: absolute;
  top:47.5px; left:47.5px;
  border-radius: 100%;
  // border:1px solid #000;
  background: #2A2A2A;
}

// .Parent-loading .lod h1
// {
//   color: #fff;
//   margin-left: 60px;
//   font-family: fantasy;
//   font-weight: normal;
// }
// .Parent-loading .lod span
// {
//   color: #fff;
//   margin-left: 80px;
//   font-size:14px;
// }

