      // .img{
    //   height: max-content;
    //   width: 40px;
    //   text-align: center;
    // }
    .space 
    {
      width: 20px;
    }

    .card{
      height: 50px;
    }

    .card-avatar{
      overflow: visible;
      margin: 16px 0 24px;
      position: relative;
      padding-top: 60px;
      border: 0 !important;
      border-bottom: 0 !important;
      }

      .img-wrapper 
      {
        position: absolute;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
        img {
          width: 120px;
          height: 120px;
        }

    
        ion-button {
          --border-width: 1px;
          --border-color: var(--ion-color-light-shade);
          --border-style: solid;
          --padding-start: 0;
          --padding-end: 0;
          --padding-bottom: 0;
          --padding-top: 0;
    
          // --border-radius: 50%;
          height: 30px;
          width: 30px;
    
          position: absolute;
          right: -20px;
          bottom: 7px; /*buttons position fron bottom of image*/
    
          ion-icon {
            width: 20px;
            height: 20px;
          }
        }
      }

     

/* -------------toggle button css----------------------*/

      input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
      }
      
      .lbl {
        cursor: pointer;
        text-indent: -9999px;
        width: 60px;
        height: 30px;
        background: #cecece;
        display: block;
        border-radius: 100px;
        position: relative;
      }
      
      .lbl:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: #f53d3d;
        border-radius: 90px;
        transition: 0.3s;
      }
      
      input:checked + .lbl {
        background: #cecece;
      }
      
      input:checked + .lbl:after {
        left: calc(100% - 5px);
        transform: translateX(-100%);
      }
      
      .lbl:active:after {
        width: 130px;
      }

/* ----------------------------------------------------------------- -*/

      *{
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        box-sizing: border-box;
      }
      
      ion-content{
        --background: #2A2A2A;
      }
      
      ion-item{
          color: #cecece;
          --background: #2A2A2A;
          ion-label{
            color: #cecece;
          }
      }
      
      ion-card{
        color: #cecece;
        box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
        --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
        --background: #2A2A2A;
      }

      ion-button{
        box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
       --background-color: #2A2A2A;
        border-radius: 50px;
        border: 0 !important;
        color: #cecece;
        --border-color: #2A2A2A;
        text-align: center;
        --background: linear-gradient(#2A2A2A 0%,#2A2A2A 100%);
        
        --background-activated:#242323;
      }
      

/* ------------------------image upload----------------------------------------*/

// variables
$base-color: #cecece;
$base-font: 'Raleway', sans-serif;

.wrapper{
  flex-direction:column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box {
  display: table;
  min-width: 100px;
  height: 50px;
  // margin: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 35px;
  background-color: #2A2A2A;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  &:hover {
    background-color: lighten(#2A2A2A, 10%);
  }
  & input {
    // width: 0.1px;
    // height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  & label {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    font-weight: 300;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;

    &::after {
      content: 'Add'; 
     font-weight: bold;
      position: absolute;
     font-size: 17px;
      color: #CECECE;
      // top: calc(50% - 2.5rem);
      left: calc(50% - 1.25rem);
      z-index: 0;
    }
    & span {
      display: inline-block;
      width: 50px;
      height: 100px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      &:hover i.material-icons {
        color: lightgray;        
      }
    }
  }
}

.js--image-preview {
  height: 100px;  /* main image height*/
  width: 100px;
  position: relative;
  overflow: hidden;
  background-image: url('https://ionicframework.com/docs/demos/api/avatar/avatar.svg');
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    position: relative;
    color: rgba(230, 230, 230, 1);
    z-index: 0;
  }
  &.js--no-default::after {
    display: none;
  }
  &:nth-child(2) {
    background-image: url('https://ionicframework.com/docs/demos/api/avatar/avatar.svg');
  }
}

i.material-icons {
  transition: color 100ms ease-in-out;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize($base-color, .8);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

/* ---------------------------------------------------------------- */

.switch {
  position: relative;
  // top: 20px;
  // left: 20px;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: -1px 0 0 -75px;
  background: #b7f3e9;
  transition: all 0.2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}
input[type=radio] {
  display: none;
}
.switch label {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}
label[for=yes] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for=no] {
  position: absolute;
  right: 0px;
}
#no:checked ~ .switch {
  background: #f5cbc5;
}
#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}
#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#yes:checked ~ .switch label[for=yes] {
  color: #2A2A2A;
}
#no:checked ~ .switch label[for=no] {
  color: #2A2A2A;
}