*{
  font-weight: normal;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

  .lbl {
    --handle-height: 100%;
    --handle-box-shadow: 4px 0 2px 0 #2A2A2A;
  }

  ION-CONTENT{
    --background:#2A2A2A;
  }

  ion-card{
    --background:#2A2A2A;
    color:#cecece;
    
    box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
  }

  ion-item{
    --background:#2A2A2A;
    color:#cecece;
  }

  /* --------------------------------------------------------------------------- */

  input[type=checkbox]{
   
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: rgb(187, 187, 187);
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }
  
  input:checked + label {
    
    background: #777676;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 100px;
  }
  
  // centering
  .toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
  }
  