<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>Share My Feed</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" routerLink="/tabs/tab6"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item lines="none">
      <ion-label>Share my Feed</ion-label>
      <ion-toggle class="lbl" color="danger" slot="end"></ion-toggle>
    </ion-item>

  </ion-card>

  <ion-card>

    <div class="container">

      <div class="switch-holder">
        <div class="switch-label">
          <i class="fas fa-map-marker-alt"></i><span>Photos</span>
        </div>
        <div class="switch-toggle">
          <input type="checkbox" id="photos">
          <label for="photos"></label>
        </div>
      </div>

      <div class="switch-holder">
        <div class="switch-label">
          <i class="fas fa-map-marker-alt"></i><span>Bio</span>
        </div>
        <div class="switch-toggle">
          <input type="checkbox" id="bio">
          <label for="bio"></label>
        </div>
      </div>

      <div class="switch-holder">
        <div class="switch-label">
          <i class="fas fa-map-marker-alt"></i><span>Work</span>
        </div>
        <div class="switch-toggle">
          <input type="checkbox" id="work">
          <label for="work"></label>
        </div>
      </div>
    </div>

  </ion-card>
</ion-content>
