<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <ion-title>Share My Feed</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" routerLink="/tabs/tab"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-item lines="none">
      <ion-label>Share my Feed</ion-label>
      <!-- <ion-toggle class="lbl" color="dark" slot="end"></ion-toggle> -->
      <div class="toggler">
        <input type="checkbox" id="switch" />
        <label for="switch">Toggle</label>
      </div>

    </ion-item>

  </ion-card>

  <ion-card id="card">

    <ion-item lines="none">
      <ion-label>Photos</ion-label>
      <!-- <ion-toggle class="lbl" color="dark" name="bio" slot="end"></ion-toggle> -->
      <div class="toggler">
        <input type="checkbox" id="switch1" />
        <label for="switch1">Toggle</label>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Bio</ion-label>
      <!-- <ion-toggle class="lbl" color="dark" name="bio" slot="end"></ion-toggle> -->
      <div class="toggler">
        <input type="checkbox" id="switch2" />
        <label for="switch2">Toggle</label>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="lbl">Work</ion-label>
      <!-- <ion-toggle class="lbl" color="dark" name="work" slot="end"></ion-toggle> -->
      <div class="toggler">
        <input type="checkbox" id="switch3" />
        <label for="switch3">Toggle</label>
      </div>
    </ion-item>


  </ion-card>
</ion-content>
