<ion-content class="--ion-padding">
  <div class="div-head">

    <ion-row>
      <ion-col size="12">
        <img src="./../../assets/img/taylor.jpg" class="img-user" />
        <div>
          <h6 style="text-align: center" class="user-name"><b>Jeniffer, 19 yrs</b></h6>
          <p style="text-align: center" class="user-city"><ion-icon
              name="location-outline"></ion-icon> Paris (France) </p>

        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-fab-button routerLink='/pages/setting' class="ion-float-right">
          <ion-icon color="light" name="settings-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button routerLink='/pages/add-photos' style="margin: 0 auto;">
          <ion-icon color="light" name="camera-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>

      <ion-col>
        <ion-fab-button routerLink='/pages/edit-profile'>
          <ion-icon color="light" name="pencil-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>

  </div>


    </ion-content>
