@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');


*{
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.slot1
{
    height: 40px;
    width: 40px;
    display: flex;
    float: left;
    text-align: center;
}

.lbl
{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px;
}

 ion-input{
     font-size: 18px;
     font-weight: bold;
     color: black;
     text-align: center;
 }

// .btn
// {
//     text-align: center;
//     padding-left: 110px;
//     width: 250px;
// }

.center{
    text-align: center;
}

.center1{
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

*{
    font-weight: normal;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ion-content,ion-item{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    --background: #cecece;
    // --background: #2A2A2A;
    }

    ion-button{
    // margin-left: 130px;
        width: fit-content;
        box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
        background: #2A2A2A;
        border-radius: 50px;
        border: 0 !important;
        margin-top: 15px;
        --border-color: #2A2A2A;
        color: #cecece;
      
        padding: 5px;
       
        --background-activated:#242323;
      }