*{
    font-family: 'Times New Roman', Times, serif;
}

.acc-rec-no
{
    padding-top: 90px;
}

.slot1
{
    height: 40px;
    width: 40px;
}

.lbl
{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px;
}

 ion-input{
     font-size: 18px;
     font-weight: bold;
     color: black;
     text-align: center;
 }

.btn
{
    text-align: center;
    padding-left: 110px;
    width: 250px;
}
