/*
 color:#191811;
  #F8F8F8
  #FFAB08

*/



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

*{
    font-weight: normal;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.slot1
{
    height: 40px;
    width: 40px;
    display: flex;
    float: left;
    text-align: center;
}

.lbl
{
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px;
}

 ion-input{
     font-size: 18px;
     font-weight: bold;
     color: black;
     text-align: center;
 }

// .btn
// {
//     text-align: center;
//     padding-left: 110px;
//     width: 250px;
// }

.center{
    text-align: center;
}

.center1{
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800&display=swap');

*{
    font-weight: normal;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ion-content,ion-item{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    --background: #cecece;
    // --background: #2A2A2A;
    }

    ion-button{
    // margin-left: 130px;
        width: fit-content;
        // box-shadow:  -2px -2px 6px rgba(255, 255, 255, 0.2),  2px 2px 6px rgba(0, 0, 0, 0.8);
        box-shadow: 1px 1px 2px rgba(40, 38, 27, 0.3), -1px -1px 2px rgba(10, 10, 7, 0.5), 
        inset -5px 5px 10px rgba(10, 10, 7, 0.2), inset 5px -5px 10px rgba(10, 10, 7, 0.2), 
        inset -5px -5px 10px rgba(40, 38, 27, 0.9), inset 5px 5px 13px rgba(10, 10, 7, 0.9);
        background: #2A2A2A;
        border-radius: 50px;
        border: 0 !important;
        margin-top: 15px;
        --border-color: #2A2A2A;
        color: #cecece;
      
        padding: 5px;
       
        --background-activated:#242323;
      }

/* ------------------------otp verify -----------------------------*/

.content{
 
    text-align: center;
    .form-otp{
    //   background-color:#2A2A2A;
    //   height:350px;
    //   width:450px;
      text-align: center;
      font-size: 20px;
    //   box-sizing: border-box;
  
    }
    
    .input-code{
      margin-top:20px;
      padding:0 100px;
      display:flex;
      flex-direction:auto;
      justify-content:space-around;
      align-content:space-between;
    }
    
    .otp-number-input{
      background-color:transparent;
      text-align: center;
    //   line-height: 80px;
    //   font-size: 50px;
      outline: none;
      width: 10%;
      transition: all .2s ease-in-out;
      border-radius: none;
      border-top:none;
       border-left:none;
       border-right:none;
       border-bottom:2px solid black;
       margin-bottom:20px;
          
       &:focus {
        border-bottom:5px solid black;
       }
          
       &::selection {
        background: transparent;
       }
    }
    
    .verif-b-orange{
      border-bottom:5px solid black;
    }
  }

  .otp{
      margin-top: 30px;
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
  }